<html>
    <head>
        <style>
            div{
                display: inline-block;
                width:200px;
                border: 2px solid greenyellow;
                button:middle;
                
            }
            button{
                background-color: blue;
                vertical-align:middle;
                
            }
           

        </style>
    </head>
    <body>
        <div>
        <h1>card one</h1>
        <p>
            <hr>
            in this card one we will get mpore benefits
            like lounge acess ,online benefits,
            offline benefits.it is one of the most importanat card<br>
            <hr>
       
        <button>more info</button> </p>
        </div>
        <div>
        <h1>card two</h1>
        <p>
            <hr>
            in this card one we will get mpore benefits
            like lounge acess ,online benefits,
            offline benefits.it is one of the most importanat card<br>
            <hr>
        
        <button>more info</button></p>
    </div>
    <div>
        <h1> card three</h1>
        <p>
            <hr>
            in this card one we will get mpore benefits
            like lounge acess ,online benefits,
            offline benefits.it is one of the most importanat card<br>
            <hr>
       
        <button>more info</button> </p></div>
    </body>
</html>